


font-family: {
  LM Roman, Times, serif;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding:20px;    /* Footer height */
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #fbfbfb; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #fbfbfb; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #fbfbfb; /* Blue */
  }
}

.menu-container {

  color: black;

  margin: 5px;
  display: flex;
  justify-content:flex-start;
  }

.menu {
  /* For debugging */

  display: flex;
flex-wrap: wrap;
  justify-content: flex-start;


}


.menu-item {
  width: auto;
   height: auto;
   overflow: hidden;
   padding: 5px;



}

a:link, a:visited {
  background-color: white;
  border-color: black;
  border-style: dashed;
  border-width: 2px;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
  border-style: dashed;
  border-width: 2px;
  border-color: black;
}

.capture2 {
  background-image: url("capture2.jpg");
  background-size: 40%;
 background-repeat: no-repeat;
background-position: right top;

}





h1, h2 {
  width: 250px;
  margin: auto;
  background-color: white;
  display: block;
}



h1   {
  background-color: none;
  color: black;
  font-family: LM Roman;
  font-size: 200%;
  margin: 10px;
}

h2   {
  background-color: none;
  color: black;
  font-family: LM Roman;
  margin: 10px;
  text-decoration: none;
}

h3   {
  width: 650px;
  display:block;
  background-color: white;
  color: black;
  font-family: LM Roman;
  margin: 10px;
}

h4   {
  color: black;
  font-family: LM Roman;
  margin: 10px;
}

p    {
  color: black;
  font-family: LM Roman;
  margin: 10px;
}

ul {

color: black;
font-family: LM Roman;
margin: 10px;

}

#Ecem {
  margin-left:10px;
}


.footer {
  display: flex;
  justify-content: space-around;
  position: flex;
  bottom: 0;
  width: 100%;
    flex: 1;
}

.footer-item {
  color: white;
  text-align: center;
  background-color: black;
  height: 50px;
  flex: 1;
  padding: 20px;
  width: `100%`;

}
.adress{
text-emphasis: italic;
}
em{
  emphasis:italic;

}

.item-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  text-align: center;
  background-color: black;
  height: 50px;
  flex: 1;
  padding-top: 20px;

}

#footer {
color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height:auto;
  margin: auto;


  text-align: center;
  background-color: black;
    padding-top: 10px;         /* Footer height */
}
